#canvas1 {
    position: absolute;
    background-color: white;
    width: 600px;
    height: 400px;
    left: 655px;
    top: 275px;
}

body {
    background-image: url("background.jpg");
}

h1 {
    text-align: center;
    font-size: 100px;
    color: red;
}